@use "../../../utils/globals.scss" as *;

.statusboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 20rem;
    height: 10rem;

    border-radius: 1.1rem;
    border: .2rem solid $secondaryColor;
    background-color: $primaryColor;

    color: $primaryText;

    p {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;

        text-align: center;

        height: 5.1rem;
        width: 100%;

        font-size: 2.6rem;
    }
}