/* Variables */
$primaryColor: rgba(43, 43, 43, 0.45);
$secondaryColor: #06352A;
$primaryText: #CCCCCC;
//$secondary-text: #D9D9D9;
//$accent-color: #2CA8FF;
//$button-color: #06352A;

:root::before {
    content: "";
    background-image: url("../../assets/images/background.png");
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100.2% 100.2%;
    z-index: -1;
}
/*
// Mixins
@mixin primary-background {
  background-color: $primary-background;
}

@mixin secondary-background {
  background-color: $secondary-background;
}

@mixin primary-text {
  color: $primary-text;
}

@mixin secondary-text {
  color: $secondary-text;
}

@mixin accent-color {
  color: $accent-color;
}

@mixin button-styles {
  background-color: $button-color;
  color: $primary-text;

  &:hover {
    background-color: darken($button-color, 10%);
  }

  &:active {
    background-color: darken($button-color, 20%);
  }
}

// Global Styles
body {
  @include primary-background;
}

.content-area {
  @include secondary-background;
}

p, h1, h2, h3, h4, h5, h6 {
  @include primary-text;
}

.secondary-text {
  @include secondary-text;
}

.button {
  @include button-styles;
}

a {
  @include accent-color;

  &:hover {
    color: $button-color;
  }
}
*/