$primaryColor: #000000; //headers, main buttons, and key accents.
$secondaryColor: #000000; //secondary elements, icons, and less prominent buttons.
$accentColor: #000000; //interactive elements, success messages, and highlights.
$neutralColor: #000000; //backgrounds, text, and other neutral elements.
$backgroundColor: #000000; //background of the main content area and overall page background.

$headingSize: 3rem;