@use "../../utils/globals.scss" as *;

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
    overflow: auto;

    menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        height: 13rem;

        margin: 6rem 0 3rem 0;
        padding: 0;
    }


}