@use "../../../../utils/globals.scss" as *;

menu.practice {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 17.34rem;

    margin: 0;
    padding: 0;
}