@use "../../../../utils/globals.scss" as *;

.info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    position: relative;
    transform: translate(-50%);
    top: 19%;
    left: 60%;

    height: 35rem;
    width: 21rem;

    border: .2rem solid $secondaryColor;
    border-radius: 1.1rem;
    background-color: $primaryColor;
}